
<html>
<head>
  <meta charset="UTF-8"> 
  <title>Jody's D3 map</title>
  <script src='https://d3js.org/d3.v4.min.js'></script>

</head>
<style>
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
</style>
<body>
<body onload="Map({{ data }})">

<script>
function Map(data) {
    console.log(data)

    var width = 1200,
        height = 650;
        
    var svg = d3.select('body')
        .append('svg')
        .attr('width', width)
        .attr('height', height);

    var albersProjection = d3.geoAlbers()
        .scale(1200)
        .rotate([102, 0])
        .center([8, 41])
        .translate([width / 2, height / 2]);

    var geoPath = d3.geoPath()
        .projection(albersProjection);

    var statesG = svg.append('g');

    colorScale = d3.scaleLinear().domain([0,11,17,20,25,30,40,50]).range(["white", "#EAF2F8", "#D4E6F1", "#A9CCE3", "#7FB3D5", "#5499C7", "#2980B9", "#2471A3"]);

    d3.json("json", function(json) {
        statesG.selectAll('path')
            .data(json.features)
            .enter()
            .append('path')
            .attr('fill', function(d){
                return colorScale(d.properties.POP)
            })
            .attr('d', geoPath)
            .attr('stroke', '#2C3E50');
    });

    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("a simple tooltip");

    var fluG = svg.append('g');

    
	fluG.selectAll('path')
		.data(data.features)
		.enter()
		.append('path')
		.attr('fill', '#FCDD2F')
		.attr('stroke', '#999')
		.attr('d', geoPath)
		.on('mouseover', function() {
			d3.select(this).attr('fill', 'orange');
			return tooltip.style("visibility", "visible");

		})
		.on("mousemove", function(d) {

			tooltip.text(d.properties.tweet);
			return tooltip.style("top",
				(d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px");
		})
		.on('mouseout', function() {
			d3.select(this).attr('fill', '#FCDD2F');
			return tooltip.style("visibility", "hidden");
		});
		
}
</script>
</body>
</html>

