<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <title>Jody's How-to Guide'</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="stylesheets/bootstrap-3.3.6/docs/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

 
</head>


<body>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">API DATA TO D3 VISUALIZATION</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">About</a></li>
                    <li><a href="/gettingstarted">Getting Started</a></li>
                    <li><a href="/api">Data APIs</a></li>
                    <li><a href="/python_rest">Python Request</a></li>
                    <li><a href="/d3">D3 Graphs</a></li>
                    <li><a href="/chart">Demo</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
 
    <div class="container">
 
        <div class="Content">
        <h2>Welcome to my tutorial on API and data visualization using College Scorecard API and D3.js</h2><br>
        <p>It seems that big data and data science are technology's buzzwords of the year. New technologies and improved global connectivity are creating large, unstructured data  sets that offer a wealth of information. However, the management of big data brings with it several issues, including the acquistion, storage, searching, analysis, and visualization these large datasets. Cloud platform solutions seem to go hand in hand with big data's challenges. It offers storage and computing power for analysis of datasets all on the same platform to provide low latency for data visualization. The end product, inferences incurred from viewing the data as a chart or graph, provides a huge impact for individuals and companies.
        </p><br>

        <p>Several companies have produced highly profitable products based off data analysis and visualization. Where does that leave the individual? Fortunately, the wealth of data is so abundant that many agencies are offering public access to a myriad of data, which the individual can freely obtained through an application program interface (API). Large datasets are free for someone to explore and create their own app.
        </p><br>
        
        <p>The goal of this tutorial is to provide a guide on how to create your own cloud-based application using Google's App Engine cloud platform, College Scorecard API datasets, and D3.js for data visualizaiton. You'll request a dataset, parse it, filter it, and display it as a chart all on the cloud!
        </p><br>
        
        <p>Start at the getting started page to learn how to create your own cloud-based data analysis application. Or, take a look at the demo page to view the end product.
        </p>
        <br><br><br><br>
        </div>
        <!-- Site footer -->
        <div class="footer">
            <p>CS 496, Winter 2016</p>
        </div>
 
    </div>
    <!-- /container -->
 
 
</body>
 
</html>
